<div class="row">
	
    
	<div class="col-sm-12 panel panel-default clearfix">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropup"><a data-toggle="dropdown" href="#">Support<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Contact&nbsp;EireneRx</a>
                    <li class=""><a href="#">Submit&nbsp;Bug&nbsp;Report</a>
                    <li class=""><a href="#">EireneRx&nbsp;Training&nbsp;Documents</a>
                </ul>
              </li>
              <li class="dropup"><a data-toggle="dropdown" href="#">Partner&nbsp;Resources<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class=""><a href="#">CK&nbsp;Audit&nbsp;Documents</a>
                    <li class=""><a href="#">CK&nbsp;NJ&nbsp;Pharmacy&nbsp;License</a>
                    <li class=""><a href="#">Clinical&nbsp;Resources</a>
                    <li class=""><a href="#">Regulatory&nbsp;Documents</a>
                </ul>
              </li>
            </ul>
        </div>
    </div>	<!-- /col -->
    
    
</div> <!-- /row -->